@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
    font-family: "Raleway", sans-serif, "Noto Sans KR", sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
}

a {
    color: #222;
    text-decoration: none;
}

.tab-inner {
}

input[name="tabmenu"] {
    display: none;
}

.tabs {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.items {
    /* border: 1px solid red; */
    height: 100vh;
    width: 300%;
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}

.items div {
    /* border: 1px solid blue; */
    height: 100vh;
    float: left;
    width: 33.3333%;
    box-sizing: border-box;
    position: relative;
}

.items div:nth-child(1),
.items div:nth-child(2),
.items div:nth-child(3) {
    background-size: cover;
}

.items div:nth-child(1) {
    background: url(./images/photo-01.jpg) no-repeat center center fixed;
}

.items div:nth-child(2) {
    background: url(./images/photo-02.jpg) no-repeat center center fixed;
}

.items div:nth-child(3) {
    background: url(./images/photo-03.jpg) no-repeat center center fixed;
}

.items div:nth-child(1):before,
.items div:nth-child(2):before,
.items div:nth-child(3):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.items div:nth-child(1):before {
    background: linear-gradient(135deg, gold, transparent);
}

.items div:nth-child(2):before {
    background: linear-gradient(135deg, crimson, transparent);
}

.items div:nth-child(3):before {
    background: linear-gradient(135deg, royalblue, transparent);
}
.items div h1 {
    font-size: 150px;
    font-weight: normal;
    color: #fff;
    position: relative;
    text-align: center;
    transform: translateY(-200px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.btn {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.306);
    bottom: 0;
    height: 50px;
    line-height: 50px;
}

.btn label {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin: 0 15px;
}

input[id="tab1"]:checked ~ .tabs .items {
    left: 0;
}

input[id="tab2"]:checked ~ .tabs .items {
    left: -100%;
}

input[id="tab3"]:checked ~ .tabs .items {
    left: -200%;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"] {
    color: gold;
    font-weight: bold;
}

input[id="tab2"]:checked ~ .btn label[for="tab2"] {
    color: crimson;
    font-weight: bold;
}

input[id="tab3"]:checked ~ .btn label[for="tab3"] {
    color: rgb(93, 123, 212);
    font-weight: bold;
}

input[id="tab1"]:checked ~ .tabs .items div:nth-child(1) h1 {
    opacity: 1;
    transform: translateY(300px);
}

input[id="tab2"]:checked ~ .tabs .items div:nth-child(2) h1 {
    opacity: 1;
    transform: translateY(300px);
}

input[id="tab3"]:checked ~ .tabs .items div:nth-child(3) h1 {
    opacity: 1;
    transform: translateY(300px);
}
